.Region--Banner{
    width: 100%;
    height: 600px;
}
/* 
.Region--box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

} */

.title-box{
    background-color: rgba(0, 0, 0, 0.66);
    padding:30px;
    margin: auto;
    text-align: center;
    max-width: 600px;
    transform: translateY(-340px);
    color: white;
}