.pagi-item {
  width: 30px;
  height: 30px;
  background-color: rgb(255, 255, 255);
  margin: 5px;
  text-align: center;
  cursor: pointer;
}
.pagi-item.active {
  background-color: rgb(99, 126, 207);
}
.pagi-item:hover {
  background-color: rgb(220, 216, 216);
}

.modal-flexing {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input-modal {
  width: 200px;
  outline: none;
  border: 0px;
  border-bottom: 1px solid rgb(123, 113, 1);
  background-color: transparent;
  margin-left: 10px;
  color: wheat;
}

.image-box-preview-animal {
  width: 100px;
  height: 100px;
  margin: auto;
  margin-top: 20px;
  border: 3px solid goldenrod;
  display: flex;
  justify-content: center;
}
.regions-box-animal {
  width: 200px;
  max-height: 150px;
  overflow-y: auto;
  display: grid;
  align-items: center;
  margin: auto;
  grid-template-columns: 100px 25px;
}
