.backgroundImage--Nature{
    background-image: url('../../../Assets/NatureBackground.jpg');
    background-size: cover;
    height: 100%;

}

.overlay-box{
    background-color: rgba(0, 0, 0, 0.587);
    margin-left: 40px;
    margin-right: 40px;
    padding: 25px;
    max-height: 800pxs;
}
.special-paragraph{
    margin-top: 40px;


}
.widthPanel{
    width: 100%;
    height: 500px;
    align-items: center;
    /* display: flex;
    flex-direction: row; */

}

.pagi-item{
    width: 30px;
    height: 30px;
    background-color: rgb(194, 209, 159) !important;
    margin: 5px;
    text-align: center;
    cursor: pointer;
    display:inline-block;
    border:1px solid black;

}
span.pagi-item{
    background-color: transparent;
}
.pagi-item.active{
    background-color: rgb(207, 178, 99);
}
.pagi-item:hover{
    background-color: rgb(255, 201, 201);
}


.alignButton{
    margin: 30px;
}

