.bg-plant{
  background-image: url('../../../Assets/ForestBackground.jpeg');
  background-size: cover;
  height: 100%;
  margin: 0;
  padding: 100px;

}
#registration-form {
  border: 1px solid white;
  font-family: "Open Sans Condensed", sans-serif;
  max-width: 600px;
  min-width: 250px !important;
  margin: 0 auto;

}

#registration-form .fieldset {
  background-color: #d5d5d5;

  border-radius: 3px;
}
#registration-form label {
  font-weight: bold;
}
#registration-form legend {
  text-align: center;
  background: #6aae80;
  padding: 30px 0;
  border-radius: 3px 3px 0 0;
  color: white;
  font-size: 2em;
}
.image-box-preview {
  width: 50px;
  height: 50px;
  margin-left: 50px;
}
.fieldset form {
  margin: 0 auto;
  display: block;
  padding: 30px 20px;
  box-sizing: border-box;
  border-radius: 0 0 3px 3px;
}
.placeholder #registration-form label {
  display: none;
}
.no-placeholder #registration-form label {
  margin-left: 5px;
  position: relative;
  display: block;
  color: grey;
  text-shadow: 0 1px white;
  font-weight: bold;
}
.selection-input {
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
  border: gainsboro;
  color: gray;
  font-weight: bold;
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.8);
  padding: 10px 10px !important;
}
/* all */
::-webkit-input-placeholder {
  text-shadow: 1px 1px 1px white;
  font-weight: bold;
}
::-moz-placeholder {
  text-shadow: 0 1px 1px white;
  font-weight: bold;
} /* firefox 19+ */
:-ms-input-placeholder {
  text-shadow: 0 1px 1px white;
  font-weight: bold;
} /* ie */
#registration-form input[type="text"] {
  padding: 15px 20px;
  border-radius: 1px;
  margin: 5px auto;
  background-color: #f7f7f7;
  border: 1px solid silver;

  -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.8);

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  -ms-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}
.no-placeholder #registration-form input[type="text"] {
  padding: 10px 20px;
}

#registration-form input[type="text"]:active,
.placeholder #registration-form input[type="text"]:focus {
  outline: none;
  border-color: silver;
  background-color: white;
}

#registration-form input[type="submit"] {
  font-family: "Open Sans Condensed", sans-serif;
  text-transform: uppercase;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  background-color: #6aae80;
  padding: 10px;
  color: white;
  border: 1px solid #3498db;
  border-radius: 3px;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 5px;
  cursor: pointer;
  position: relative;
  top: 0;
}

#registration-form input[type="submit"]:hover {
  background-color: #3f7450;
}

#registration-form input[type="submit"]:active {
  background-color: #3f7450;
}

.label-checkbox {
  color: gray;
  font-size: 15px;
}
.regions-box {
  max-height: 150px;
  overflow-y: auto;
  display: grid;
  grid-template-columns: 100px 25px;
}
.parsley-error-list {
  background-color: #c34343;
  padding: 5px 11px;
  margin: 0;
  list-style: none;
  border-radius: 0 0 3px 3px;
  margin-top: -5px;
  margin-bottom: 5px;
  color: white;
  border: 1px solid #870d0d;
  border-top: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  top: -1px;
  text-shadow: 0px 1px 1px #460909;
  font-weight: 700;
  font-size: 12px;
}
.parsley-error {
  border-color: #870d0d !important;
  border-bottom: none;
}
.Special--Label {
  background-color: white;
  width: 200px;
  margin-left: 5px;
  border: gainsboro;
  color: gray;
  font-weight: bold;
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.8);
  padding: 10px 10px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.Special--Label:hover {
  background-color: rgb(221, 220, 220);
  color: black;
}
.image-input {
  visibility: hidden;
}
#registration-form select {
  width: 100%;
  padding: 5px;
}
::-moz-focus-inner {
  border: 0;
}
