

.footer-container{
    margin-top: 200px;
    text-align: center;
    width: 100%;
}
.footer-clean .item.social {
    text-align:center;
  }
ul{
    text-decoration: none;
    text-decoration-style: none;
}
.Links{
    text-decoration: none;
    text-decoration-style: none;
}
.footer-clean .item.social > Link {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin-left:10px;
  margin-top:22px;
  color:inherit;
  opacity:0.75;
}

.footer-clean .item.social > a:hover {
  opacity:0.9;
}

@media (max-width:991px) {
  .footer-clean .item.social > Link {
    margin-top:40px;
  }
}

@media (max-width:767px) {
  .footer-clean .item.social > Link{
    margin-top:10px;
  }
}

.footer-clean .copyright {
  margin-top:14px;
  margin-bottom:0;
  font-size:13px;
  opacity:0.6;
}