.Banner{
    background-image: url('../.././Assets/Golija.jpeg');
    background-size: cover;
    width: 100%;
    height: 700px;
    padding-top:150px
}

.Banner-welcome-box{
    width: 500px;
    margin: auto;
    padding: 50px;
    height: 300px;
    background-color: rgba(45, 45, 45, 0.703);
    color: white;
    text-align: center;
}


.Banner-Info-box{
    width: 100%;
    background-color: rgba(45, 45, 45, 0.726);
    padding:50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color:white;
    margin-top: 60px;
}


.About-Park{
    text-align: center;
    color:black;
    width: 80%;
    margin: auto;
    background-color: beige;
    font-style: italic;
    padding:20px;
}

.Fauna-Flora-Pictures{
    width: 100%;
    height: 300px;
}

.Gallery{
    width: 80%;
    margin: auto;
}

.alignPicture{
    display: flex;
    justify-content: center;
    margin:auto;
}



@media only screen and (max-width: 600px) {
  
    .Banner-welcome-box{
        width: 100%;
    }
  }
