.Navbar-box {
  display: grid;
  grid-template-columns: 20% 80%;
  width: 100%;
  height: 100px;
  position: relative;
}

.Navbar-Logo-box {
  width: 140px;
  height: 100%;
}
.custom-button{
  width: 100%;
  background-color: transparent;
  fill: none;
  border:none;
  color: green;
  transition: all 0.4s  ease-in-out;
  cursor: pointer;
}
.custom-button:hover{
  
  background-color: rgb(243, 243, 243);
}
.Navbar-Logo-box img {
 width: 100%;
 height: 100%;
 margin-left: 10px;
}
.Navbar-Links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 100%;
}
.Navbar-Links a {
  text-decoration-style: none;
  text-decoration: none;
  font-style: none;
  transition: 0.4s ease-in-out;
  width: 100%;
  text-align: center;
  height: 100%;
  display: grid;
  align-items: center;
}
.Navbar-Links p {
  color: green;
  transition: 0.4s ease-in-out;
  text-align: center;

  
}
.Navbar-Links a:hover {
  background-color: rgb(243, 243, 243);
}
.Navbar-Links a:hover > p {
  color: rgb(41, 244, 41);
}

.Navbar-ham {
  display: none;
}
.Navbar-display {
  display: contents;
}
.Navbar-Links2 {
  display: none;
}
@media only screen and (max-width: 700px) {
  .Navbar-ham {
    display: block;
   position: absolute ; 
   top:10px;
   right: 10px;
  }
  .Navbar-Links-Column {
    position: relative;
}
  .Navbar-display {
    display: none;
  }
  .Navbar-Links {
    display: none;
  }
  .Navbar-Links2 {
    background-color: rgba(243, 243, 243, 0.315);
    display: block;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    text-align: center;
    text-decoration-style: none;
    transition: all 0.4s ease-in-out;
    z-index: 100;
  }
  .Navbar-Links2 a{
    text-decoration: none;
    color: green;
  }
  .Navbar-Links2 a:hover{
    background-color: rgb(233, 230, 230);
    color: rgb(37, 219, 37);
  }
  .Navbar-Logo-box {
    width: 100%;
    height: 100%;
  }
}
