

a.page-Link{
    all:unset;
    text-decoration-style: none;
    background-color: transparent;
    text-decoration: none;
    background-color: white !important;

}

.pagi-Link a {
    all:unset;
    text-decoration-style: none;
    background-color: none;
    text-decoration: none;
    background-color: white !important;

}
